 <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            {{#if products}}
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Sub-Total</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each products}}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="/images/{{this.product.Image.[0]}}" alt="" style="height: 150px; widgth: 150px">
                                        </div>
                                        <div class="media-body">
                                            <p>{{this.product.name}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>₹ {{this.product.price}}</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input disabled type="text" name="qty" id="{{this.product._id}}" maxlength="12" value={{this.quantity}}  
                                            class="input-text qty">
                                        <button onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', 1, '{{../user._id}}')"
                                        class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="changeQuantity('{{this._id}}', '{{this.product._id}}', -1, '{{../user._id}}')"
                                        class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5 id="subTotal{{this.product._id}}" >₹ {{this.product.subtotal}}</h5>
                                </td>
                                <td>
                                    <button class="btn btn-primary" onclick="deleteCartProduct('{{this.product._id}}')" >Delete</button>
                                </td>
                            </tr>
                        {{/each}}
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Cart Total</h5>
                                </td>
                                <td>
                                    <h5 id="total">₹ {{total}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <h5>Grand Total :</h5>
                                </td>
                                <td>
                                    <h5 id="total-price">₹ {{total}}</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" href="/store">Continue Shopping</a>
                                        <a class="primary-btn" href="/place-order">Proceed to checkout</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{else}}
            <div class="container">
                <p>You have no product yet please purchase products</p>
                <a class="gray_btn" href="/store">Shop now</a>
            </div>
            {{/if}}
        </div>
    </section>
    <!--================End Cart Area =================-->

<script>
      
    $('#coupon-form').submit((e)=>{
      e.preventDefault()
      $.ajax({
        url:'/coupon',
        method: 'post',
        data:$('#coupon-form').serialize(),
        success: (amount) => {
            console.log(amount)
            if (amount.status) {
                    swal("Success!", "Coupon Applied", "success").then(() => {
                        document.getElementById('offer-price').innerHTML = amount.discountamount
                        document.getElementById('total-price').innerHTML = amount.grandtotal
                    })
                } else if (amount.used) {
                    swal("Info!", "Coupon already used!", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else if (amount.expired) {
                    swal("Info!", "Coupon Expired", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else if (amount.small) {
                    swal("Info!", "Total amount should be within 1000 and 5000 to apply coupon", "warning").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                } else {
                    swal("Oops!", "Coupon does not exist", "error").then(() => {
                        document.getElementById('offer-price').innerHTML = 0

                    })
                }
        }
      })
    })
</script>