<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/view-cart">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    {{!-- Add Address --}}
                    <h3>Your address</h3>
                    {{!-- <button onClick="setAddress()" >btnclick</button> --}}

                        <div class="col-lg-7">
                            {{#if address}}
                            <p>Pleace select any address</p>
                            {{else}}
                            <p>You did not add any address pleas add address</p>
                            {{/if}}
                            <input type="text" name="userId" value="{{userId}}" hidden>
                            {{#each address}}
                            <div class="p-0 form-check">
                                <div class="card border border-dark mb-3 rounded-0">
                                            <input onclick="setAddress({{this.addressList.index}})" class="form-check-input mx-1" type="radio" name="gridRadios" id="gridRadios1" value="option1" style="cursor: pointer;">
                                    <div class="card-header ">
                                        Select Address
                                       
                                        {{!-- <input class="radion_btn mx-2" type="radio"
                                        name="checkoutAddress" value="{{this.addressList.index}}" onclick="setAddress("dhfi")" id="flexRadioDefault1" 
                                        > --}}
                                    </div>
                                    <div class="card-body text-dark">
                                        <p class="card-text" id="{{this.addressList.index}}Streetname" > {{this.addressList.Streetname}}</p>
                                        <p class="card-text" id="{{this.addressList.index}}Housename" >{{this.addressList.Housename}}</p>
                                        <p class="card-text" id="{{this.addressList.index}}State" >{{this.addressList.State}}</p>
                                        <p class="card-text" id="{{this.addressList.index}}Pin" >{{this.addressList.Pin}}</p>
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <p>
                        <a class="primary-btn rounded-0" data-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Add new address +
                        </a>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-body">
                            <form class="row contact_form" action="/add-address" method="post" novalidate="novalidate"
                                enctype="application/x-www-form-urlencoded">
                                <div class="col-md-6 form-group p_star">
                                    <label for="Name">House Name</label>
                                    <input type="text" class="form-control" id="first" name="Housename"
                                        onkeyup="validatecPin()" required>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="Last Name">Streat Name</label>
                                    <input type="text" class="form-control" id="last" name="Streetname" 
                                        onkeyup="validatecPin()" required>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="Number">State</label>
                                    <input type="text" class="form-control" id="State" name="State"
                                       onkeyup="validatecPin()" required>
                                </div>
                                <div class="col-md-6 form-group p_star">
                                    <label for="Email">PIN</label>
                                    <input type="text" class="form-control" id="email" name="Pin"
                                        onkeyup="validatecPin()" required>
                                </div>

                                <div class="col-md-12 form-group">
                                    <button class="primary-btn border-0  rounded-0" type="submit">Add address</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <form id="checkout">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li><a href="#">Product <span>Total</span></a></li>
                            {{#each products}}
                            <li><a href="/singleProducts/{{product._id}}">{{product.name}}<span class="middle">x
                                        0{{quantity}}</span> <span class="last">₹ {{product.price}}</span></a></li>
                            {{/each}}
                        </ul>
                        <ul class="list list_2">
                            <li><a >Subtotal <span>₹ {{total}}.00</span></a></li>
                            <li><a >Descount <span>Flat rate: ₹ 00.00</span></a></li>
                            <li><a >Wallet amoutnt <span>₹ {{user.wallet}}00.00</span></a></li>
                            <li><a s>Total <span>₹ {{total}}.00</span></a></li>
                        </ul>
                        {{!-- <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="method" value="wallet" required>
                                <label for="f-option5">Pay using Wallet</label>
                                <div class="check"></div>
                            </div>
                            <p>Payment with your wallet</p>
                        </div> --}}
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" name="method" value="COD" required>
                                <label for="f-option5">Cash on Delivary</label>
                                <div class="check"></div>
                            </div>
                            <p>Payment will accept when product is reseved to your home or your dedicated address</p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" name="method" value="paypal">
                                <label for="f-option6">Paypal </label>
                                <img src="img/product/card.jpg" alt="">
                                <div class="check"></div>
                            </div>
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal
                                account.</p>
                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option7" name="method" value="razorpay">
                                <label for="f-option7">RazerPay</label>
                                <img src="/img/Razorpay_logo.svg.png" alt="">
                                <div class="check"></div>
                            </div>
                            <p>RazerPay; you can pay with your UPI or any payment app</p>
                        </div>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="/user-tandc">terms & conditions*</a>
                        </div>
                        <button class="primary-btn border-0" type="submit">Proceed to Payment</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script> 
<script>
  $("#checkout").submit((event) => {
  event.preventDefault();
  $.ajax({
    url: "/place-order",
    method: "post",
    data: $("#checkout").serialize(),
    success: (response) => {
      if (response.cod) {
        swal("Success!", "order created", "success",{button:false, timer:800}).then(()=>{
          location.href = "/shop";
        })
      }else if(response.walletLow){
          swal("Info!", "Wallet insufficient balance", "warning")
      }else if( response.walletSuccess){
        swal("Success!", "order created", "success",{button:false, timer:800}).then(()=>{
          location.href = "/shop";
        })
      }
      else if(response.razorpay == true){
          razorpayPayment(response)
      }else if (response.payer.payment_method = 'paypal'){
           for (let i = 0; i < response.links.length; i++) {
          if (response.links[i].rel === "approval_url") {
            location.href = response.links[i].href;
          }
        }
      }
      
    },
  });
});


function razorpayPayment(order){
  console.log(order)
  var options = {
    key: "rzp_test_uElih1SHqlgkmN", // Enter the Key ID generated from the Dashboard
    amount: order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    currency: "INR",
    name: "Karma Commerce",
    description: "Test Transaction",
    image: "https://example.com/your_logo",
    order_id: order.id,  //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    handler: function (response){
        
        verifyPayment(response, order)
    },
    prefill: {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    notes: {
        "address": "Razorpay Corporate Office"
    },
    theme: {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
  rzp1.open();
  
}

function verifyPayment(payment, order){
  console.log('hiiiii')
    $.ajax({
      url: '/verify-payment', 
      data: {
        payment,
        order
      },
      method: 'post',
      success: (response)=>{
        if (response.razor){
          location.href='/shop'
        }else {
          alert('payment failed')
        }
      }

    })
}

</script>